header {
  text-align: center;
}

figure {
 text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right:10px;
  background-color:orange;
}

figcaption {
  font-size: 8px;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  
}

#details div {
  display: block;
   float: left;
    background-color: yellow;
   text-align: center;
   width: 25%;
   
}

